.dialog {
    background-color: rgba(255, 0, 0, 0.54);
}

.signedIn-content-root {
    background-color: white;
}

.signedIn-content {
    background-color: white;
}

.signedIn-header {
    background-color: red;
    color: white;
}

.commands-sort-label {
    opacity: 0.8;
}

button.win-splitviewpanetoggle[aria-expanded=false] {
    color: white;
}

html.win-hoverable button.win-splitviewpanetoggle[aria-expanded=false]:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.34);
}

html.win-hoverable button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph,
html.win-hoverable button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph:hover,
button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph,
button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph:hover {
    color: white;
}

.win-selectioncheckmark {
    color: white;
}

.signedOut-container {
    background-color: lightblue;
}

.pane-section-splitter {
    border-color: lightgray;
}

.article {
    background-color: #DBDADA;
}

.article-title-text {
    background-color: red;
    border-bottom-color: red;
    color: white;
}

.article-footer {
    color: gray;
}

.article.with-image > .article-footer > span {
    background-color: black;
    color: white;
}

progress.article-progress {
    background-color: transparent;
    color: red;
}

.authenticator > .workingContainer {
    background-color: rgba(255, 255, 255, 0.36);
}

.codevoid-logviewer {
    background-color: darkslategrey;
    color: white;
}

.shareSignedIn-container {
    background-color: white;
}

    .shareSignedIn-container input[type=text] {
        background-color: white;
    }


.share-article-title-text {
    background-color: red;
    border-bottom-color: red;
    color: white;
}

.share-article-url {
    color: gray;
}

.share-success {
    color: gray;
}

.articleViewer-dialog.dialog {
    background: white;
}

[data-theme='day'].articleViewer-toolbar-container {
    background-color: white;
}

[data-theme='paper'].articleViewer-toolbar-container {
    background-color: wheat;
}

[data-theme='dusk'].articleViewer-toolbar-container {
    background-color: darkslategrey;
    color: lightgray;
}

[data-theme='dusk'].articleViewer-toolbar-container button:enabled.win-command:hover {
    background-color: grey;
    color: lightgrey;
}

[data-theme='dusk'] button.win-command,
[data-theme='dusk'] button .win-commandimage {
    color: darkgray;
}

[data-theme='night'].articleViewer-toolbar-container {
    background-color: black;
    color: white;
}

[data-theme='night'].articleViewer-toolbar-container button:enabled.win-command:hover {
    background-color: grey;
    color: white;
}

[data-theme='night'] button.win-command,
[data-theme='night'] button .win-commandimage {
    color: lightgrey;
}

.theme-day.win-command,
.theme-day.win-command:hover {
    background-color: white !important;
}

.theme-paper.win-command,
.theme-paper.win-command:hover {
    background-color: wheat !important;
}

.theme-dusk.win-command,
.theme-dusk.win-command:hover {
    background-color: darkslategrey !important;
}

.theme-night.win-command,
.theme-night.win-command:hover {
    background-color: black !important;
}

.articleViewer-toolbar-container .win-commandingsurface .win-commandingsurface-actionarea {
    background-color: transparent;
}