.dialog {
    background-color: rgba(255, 0, 0, 0.54);
}

.signedIn-content-root {
    background-color: white;
}

.signedIn-content {
    background-color: white;
}

.signedIn-header {
    background-color: red;
    color: white;
}

.commands-sort-label {
    opacity: 0.8;
}

button.win-splitviewpanetoggle[aria-expanded=false] {
    color: white;
}

.signedIn-container > button.win-splitviewpanetoggle.win-keyboard:focus {
    border-color: white;
}

html.win-hoverable button.win-splitviewpanetoggle[aria-expanded=false]:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.34);
}

html.win-hoverable button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph,
html.win-hoverable button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph:hover,
button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph,
button.commands-selectmode.win-command .win-commandicon .win-commandimage.win-commandglyph:hover {
    color: white;
}

button.commands-selectmode.win-command:focus {
    border-color: white;
}

.win-listview .win-focusedoutline,
.win-itemcontainer .win-focusedoutline {
  outline-color: invert;
}

.win-selectioncheckmark {
    color: white;
}

.signedOut-container {
    background-color: red;
    color: white;
}

    .signedOut-container a {
        color: red;
        background-color: white;
    }

.pane-section-splitter {
    border-color: lightgray;
}

.commands-sort {
    border-color: transparent;
    background-color: transparent;
    color: white;
}

    .commands-sort:hover {
        border-color: white;
        background-color: transparent;
    }

    .commands-sort::-ms-value {
        background-color: transparent;
    }

    .commands-sort::-ms-expand {
        color: white;
    }

    .commands-sort:focus {
        border-color: white;
    }

.article {
    background-color: #DBDADA;
}

.article-title-text {
    background-color: red;
    border-bottom-color: red;
    color: white;
}

.article-footer {
    color: gray;
}

.article.with-image > .article-footer > span {
    background-color: black;
    color: white;
}

progress.article-progress {
    background-color: transparent;
}

.authenticator > input {    
    border-color: white;
    background-color: transparent;
    color: red;
}

    .authenticator > input:hover {
        border-color: white;
    }

    .authenticator > input:focus {
        border-color: white !important;
    }

    .authenticator > input:not(:focus) {
        color: white;
    }

    .authenticator > input::-ms-input-placeholder {
        color: white;
    }

    .authenticator > input:focus::-ms-input-placeholder {
        color: grey;
    }

.authenticator > .authenticateButton {
    color: white;
    border-color: white;
    background-color: transparent;
}

.authenticator > .authenticateButton:focus,
.authenticator > .authenticateButton:hover {
    background-color: white;
    color: red;
}

    .authenticator > .authenticateButton[disabled] {
        color: lightgrey;
        border-color: lightgrey;
    }

.authenticator > .workingContainer {
    background-color: red;
}

    .authenticator > .workingContainer > progress {
        color: white;
    }

.codevoid-logviewer {
    background-color: darkslategrey;
    color: white;
}

.shareSignedIn-container {
    background-color: white;
}

    .shareSignedIn-container input[type=text] {
        background-color: white;
    }


.share-article-title-text {
    background-color: red;
    border-bottom-color: red;
    color: white;
}

.share-article-url {
    color: gray;
}

.share-success {
    color: gray;
}

.articleViewer-dialog.dialog {
    background: white;
}

.theme-container > button.win-command {
    border-color: black;
}

[data-theme='day'].articleViewer-toolbar-container {
    background-color: white;
}

[data-theme='paper'].articleViewer-toolbar-container {
    background-color: wheat;
}

[data-theme='dusk'].articleViewer-toolbar-container {
    background-color: darkslategrey;
    color: lightgray;
}

    [data-theme='dusk'].articleViewer-toolbar-container button:enabled.win-command:hover {
        background-color: grey;
        color: lightgrey;
    }

[data-theme='dusk'] button.win-command,
[data-theme='dusk'] button .win-commandimage {
    color: darkgray;
}

[data-theme='night'].articleViewer-toolbar-container {
    background-color: black;
    color: white;
}

    [data-theme='night'].articleViewer-toolbar-container button:enabled.win-command:hover {
        background-color: grey;
        color: white;
    }

[data-theme='night'] button.win-command,
[data-theme='night'] button .win-commandimage {
    color: lightgrey;
}

.theme-day.win-command,
.theme-day.win-command:hover {
    background-color: white !important;
}

.theme-paper.win-command,
.theme-paper.win-command:hover {
    background-color: wheat !important;
}

.theme-dusk.win-command,
.theme-dusk.win-command:hover {
    background-color: darkslategrey !important;
}

.theme-night.win-command,
.theme-night.win-command:hover {
    background-color: black !important;
}

.articleViewer-toolbar-container .win-commandingsurface .win-commandingsurface-actionarea {
    background-color: transparent;
}

.settingsPopup-dialog > .settingsPopup-container {
    background-color: white;
    border-color: red;
}

.settingsPopup-dialog.dialog {
    background-color: transparent;
}

.about-legal {
    color: darkgrey;
}