/****************************************************\
 * Don't put colours here. Put them in colours.css. *
\****************************************************/
body {
    overflow: auto;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

    body > div {
        box-sizing: border-box;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

.dialog {
    position: absolute;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.hide {
    display: none !important;
}

.dialog > div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.animateTransform {
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.signedIn-container {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

    .signedIn-container > .win-splitviewpanetoggle {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        position: relative;
        z-index: 100;
    }

    .signedIn-container > button.win-splitviewpanetoggle.win-keyboard:focus {
        border-style: solid;
    }

    .signedIn-container > .win-splitviewpanetoggle.splitView-open {
        z-index: 1100;
    }


.signedIn-splitview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

    .signedIn-splitview .win-splitview-pane {
        display: -ms-grid;
        -ms-grid-rows: 48px 1fr 12px auto;
        -ms-grid-columns: 1fr;
    }

.pane-folderlist {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    overflow-y: auto;
}

.pane-section-splitter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    margin-left: 12px;
    margin-right: 12px;
    height: 1px;
    border-top: 1px solid;
}

.pane-commands {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.win-splitviewcommand-icon {
    margin-top: 16px;
}

.win-splitviewcommand-button.win-keyboard:focus::before {
    border-style: solid;
}


.signedIn-content-root {
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 48px 1fr;
}

.signedIn-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 48px 12px auto 1fr;
    height: 100%;
    width: 100%;
}

.header-folderName {
    -ms-grid-column: 3;
    -ms-grid-row-align: center;
    font-size: 18px;
}

.header-commands {
    -ms-grid-column: 4;
    -ms-grid-row-align: center;
    -ms-grid-column-align: end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 6px;
}

    .header-commands > div {
        margin-left: 6px;
        margin-right: 6px;
    }

.commands-sort {
    border-width: 1px;
    margin: 0px;
    margin-top: 2px;
    height: 44px;
}

button.commands-selectmode .win-commandicon {
    margin-right: 12px;
    margin-left: 12px;
}

button.commands-selectmode .win-commandimage {
    font-size: 16px;
}

button.commands-selectmode.win-command:focus {
    border-style: solid;
}

.signedIn-content {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.signedIn-selectioncommands-container {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-align: end;
    width: 100%;
}

.signedIn-articleList {
    height: 100%;
    width: 100%;
}

.signedOut-container {
    width: 100vw;
    height: 100vh;
    padding: 24px;
    padding-top: 0px;
    overflow-x: auto;
}

    .signedOut-container > div {
        padding-bottom: 48px;
    }

.signedOut-welcome {
    font-size: 15vw;
    font-weight: bold;
    max-width: 810px;
    line-height: 0.8em;
    margin-left: -4px;
}

.signedOut-description {
    margin-top: 48px;
    min-height: 48px;
    font-size: 20px;
    line-height: 1.8em;
}

    .signedOut-description > a {
        padding-top: 2px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }

.signedOut-container a {
    text-decoration: none;
}

    .signedOut-container a:hover,
    .signedOut-container a:focus {
        text-decoration: underline;
    }

@media all and (min-width: 886px) {
    .signedOut-welcome {
        font-size: 135px;
    }
}

@media all and (max-width: 450px) {
    .signedOut-description {
        margin-top: 24px;
    }
}

.win-listview .win-gridlayout .win-container {
    margin: 6px;
}

.win-listview > .win-viewport.win-vertical .win-surface {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.win-listview .win-focusedoutline,
.win-itemcontainer .win-focusedoutline {
  outline-style: solid;
}

.win-selectionmode .win-itemcontainer.win-container .win-itembox::after,
.win-selectionmode.win-itemcontainer.win-container .win-itembox::after,
.win-listview .win-surface.win-selectionmode .win-itembox::after,
.win-selectioncheckmark,
.win-selectioncheckmarkbackground {
    right: 8px;
    top: 8px;
}

/* Make sure tooltips in the flyouts show up infront of the flyout */
.win-tooltip {
    z-index: 20000;
}

.article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: -ms-grid;
    -ms-grid-rows: 58px 1fr auto;
    -ms-grid-columns: 1fr;
    width: 248px;
    height: 248px;
}

.article-title {
    -ms-grid-row: 1;
    padding-right: 8px;
    overflow: hidden;
}

.article-title-text {
    position: relative;
    display: inline;
    font-size: 18px;
    padding-top: 3px;
    left: 8px;
    top: -1px; /* Make it feel like it's got more bottom spaceing */
    line-height: 30px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-shadow: 8px 0px 0px red, -8px 0px 0px red;
}

.article-summary {
    -ms-grid-row: 2;
    overflow: hidden;
    font-size: 14px;
    margin: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.article-image {
    -ms-grid-row: 1;
    overflow: hidden;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.article-progress {
    -ms-grid-row: 3;
    -ms-grid-row-align: end;
    height: 2px;
    width: 100%;
    position: relative;
}

.article-footer {
    -ms-grid-row: 3;
    -ms-grid-column-align: end;
    overflow: hidden;
    text-align: right;
    margin: 8px;
    width: calc(100% - 16px);
    max-height: 42px;
}

    .article-footer > span {
        position: relative;
        display: inline;
        font-size: 12px;
    }

.article.with-image > .article-footer {
    padding-right: 8px;
    margin: 0px;
    margin-left: 8px;
    max-height: inherit;
}

    .article.with-image > .article-footer > span {
        padding-right: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
        box-shadow: -8px 0px 0px black, 8px 0px 0px black;
        line-height: 28px;
    }

.syncProgress-root {
    display: -ms-grid;
    -ms-grid-rows: 36px;
    -ms-grid-columns: 12px auto 8px 1fr 8px;
    padding-top: 8px;
}

    .syncProgress-root .syncProgress-progress,
    .syncProgress-root .syncProgress-checkmark {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        width: 24px;
        height: 24px;
    }

    .syncProgress-root .syncProgress-checkmark {
        font-family: "Segoe MDL2 Assets", "Symbols";
        font-size: 20px;
    }

        .syncProgress-root .syncProgress-checkmark::after {
            content: "\E008";
            line-height: 1.33em;
            font-weight: 400;
        }

    .syncProgress-root .syncProgress-message {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        -ms-grid-row-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.settingsPopup-dialog.dialog {
    width: 100vw;
    height: 100vh;
    z-index: 500;
}

.settingsPopup-dialog > .settingsPopup-container {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    min-height: 180px;
    max-height: 90vh;
    border-width: 1px;
    border-style: solid;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
}

.settingsPopup-container > div {
    padding: 24px;
}

.settingsPopup-container > .settingsPopup-title {
    padding-bottom: 12px;
    font-size: 24px;
}

.settingsPopup-container > .settingsPopup-content {
    -ms-grid-row: 2;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
    overflow: auto;
}

.settingsPopup-content button {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.settingsPopup-sync > .sync-title {
    font-size: 20px;
}

.sync-folderName {
    margin-top: 8px;
}

.settingsPopup-reset > .reset-title {
    font-size: 20px;
}

.settingsPopup-about > .about-title {
    font-size: 20px;
}

.settingsPopup-about > div {
    margin-top: 4px;
    margin-bottom: 4px;
}

.about-legal {
    font-size: 12px;
}

.settingsPopup-debug > .debug-title {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.settingsPopup-debug > button {
    display: inline-block;
    margin: unset;
}

.settingsPopup-container > .settingsPopup-closeButton {
    -ms-grid-row: 3;
    padding: unset;
    -ms-grid-column-align: end;
    margin: 24px;
    margin-top: 0px;
}

.articleViewer-dialog.dialog {
    width: 100vw;
    height: 100vh;
    z-index: 500;
}

.articleViewer-container {
    height: 100vh;
    width: 100vw;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

.articleViewer-toolbar-container {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-align: start;
    display: -ms-grid;
    -ms-grid-columns: 48px 1fr auto 36px;
    margin-right: 16px;
    position: relative;
    z-index: 100;
}

    .articleViewer-toolbar-container button.win-command {
        min-width: initial;
    }

    .articleViewer-toolbar-container button > .win-commandicon {
        margin: 11px;
    }

    .articleViewer-toolbar-container .win-commandingsurface-overflowbutton {
        display: none;
    }

.articleViewer-toolbar {
    -ms-grid-column: 3;
    -ms-grid-column-align: end;
    -ms-grid-row-align: start;
}

.articleViewer-title {
    -ms-grid-column: 2;
    -ms-grid-column-align: start;
    -ms-grid-row-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    text-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media all and (max-width: 640px) {
    .articleViewer-toolbar-container {
        -ms-grid-row-align: end;
        margin-left: 4px;
        margin-right: 17px;
    }

    .articleViewer-title {
        display: none;
    }

    .articleViewer-toolbar {
        -ms-grid-column: 2;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
    }
}

.articleViewer-displaySettings-container {
    margin-left: 8px;
    margin-right: 8px;
}

    .articleViewer-displaySettings-container > div {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .articleViewer-displaySettings-container button.win-command {
        width: 48px;
    }

        .articleViewer-displaySettings-container button.win-command .win-commandicon {
            margin-left: 12px;
            margin-right: 12px;
        }

@media all and (max-width: 380px) {
    .articleViewer-displaySettings-container {
        margin-left: initial;
        margin-right: initial;
    }

        .articleViewer-displaySettings-container > div {
            margin-top: initial;
            margin-bottom: initial;
        }
}

.typeface-size-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeface-selector {
    width: 100%;
    max-height: 32px;
    margin-right: 8px;
}

button.font-increase .win-commandimage {
    font-size: 28px;
    margin-top: -5px;
}

button.font-decrease .win-commandimage {
    margin-top: -3px;
}

button.linespacing-increase .win-commandimage {
    font-size: 24px;
    margin-top: -3px;
    margin-right: -3px;
}

button.linespacing-decrease .win-commandimage {
    font-size: 24px;
    transform: scaleY(0.65);
    margin-top: -2px;
}

button.margin-decrease .win-commandimage,
button.margin-increase .win-commandimage {
    transform: rotate(45deg);
    transform-origin: center;
    margin-top: -2px;
}

.theme-container > button.win-command {
    position: relative;
    height: 48px;
    width: 48px;
    min-width: initial;
    border-style: solid;
    border-width: 1px;
}

    .theme-container > button.win-command:hover:active {
        opacity: 0.5;
    }

.articleViewer-content {
    position: relative;
    height: 100%;
    width: 100%;
    -ms-grid-row: 1;
}

.authenticator {
    display: -ms-grid;
    /* 1    2    3    4    5 */
    -ms-grid-rows: auto auto auto auto auto;
    -ms-grid-columns: minmax(150px,300px);
}

    .authenticator > .errorMessageContainer.hide {
        display: none;
    }

    .authenticator > .errorMessageContainer {
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-rows: auto 10px;
    }

    .authenticator > .usernameInput {
        -ms-grid-row: 2;
        width: 100%;
    }

    .authenticator > .passwordInput {
        -ms-grid-row: 3;
        width: 100%;
    }

    .authenticator > input {
        font-size: 20px;
        margin-left: -12px;
    }

        .authenticator > input::-ms-input-placeholder {
            font-weight: bolder;
        }

        .authenticator > input:focus::-ms-input-placeholder {
            font-weight: unset;
        }

    .authenticator > .authenticateButton {
        -ms-grid-row: 4;
        margin-left: -12px;
        margin-top: 8px;
        margin-bottom: 8px;
        -ms-grid-column-align: start;
        font-size: 20px;
        font-weight: bolder;
        text-align: left;
        padding-left: 12px;
        padding-right: 14px;
        min-width: unset;
    }

    .authenticator > .accountInformationContainer {
        -ms-grid-row: 5;
        line-height: 1.8em;
    }

        .authenticator > .accountInformationContainer.show {
            display: unset;
        }

    .authenticator > .accountInformationContainer {
        display: none;
    }

.accountInformationContainer > a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-right: 2px;
}

.authenticator > .workingContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

    .authenticator > .workingContainer > progress {
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
    }

.codevoid-logviewer {
    position: absolute;
    width: 300px;
    height: calc(100vh - 50px);
    top: 25px;
    right: 25px;
    bottom: 25px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 48px 1fr 48px;
}

    .codevoid-logviewer > .codevoid-logviewer-messages {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        overflow: auto;
        padding: 0px 17px 0px 6px;
        -ms-user-select: text;
    }

.codevoid-logviewer-dismiss {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-align: end;
    font-family: "Segoe MDL2 Assets", "Symbols";
    font-size: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-right: -6px;
}

    .codevoid-logviewer-dismiss::after {
        content: "\E711";
        line-height: 1.33em;
        font-weight: 400;
    }

.codevoid-logviewer-clearlog {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    margin-left: 12px;
    -ms-grid-row-align: center;
}

    .codevoid-logviewer-clearlog:hover {
        color: yellow;
    }


.shareSignedIn-container {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    padding: 12px;
}

.shareSignedIn-details {
    -ms-grid-column-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .shareSignedIn-details > div {
        width: 100%;
        box-sizing: border-box;
    }


.share-article-label {
    font-size: 20px;
    padding: 8px;
}

.share-article-title {
    overflow: hidden;
    padding-right: 8px;
}

.share-article-title-text {
    position: relative;
    display: inline;
    font-size: 30px;
    padding-top: 4px;
    left: 8px;
    top: -1px; /* Make it feel like it's got more bottom spaceing */
    line-height: 48px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-shadow: 8px 0px 0px red, -8px 0px 0px red;
}

.share-article-url {
    word-wrap: break-word;
    font-size: 24px;
    padding: 8px;
    padding-top: 0px;
}

.share-sendtoinstapaper-button {
    padding-left: 24px;
    padding-right: 24px;
}

.share-article-info {
    padding: 8px;
    padding-bottom: 0px;
}

.share-progress {
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.share-success {
    font-size: 24px;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.dbFiddler-container {
    position: absolute;
    background-color: red;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 12px 6px 12px 6px;
}

.dbFiddler-buttons > button {
    margin: 0px 6px 0px 6px;
}
