/****************************************************\
 * Don't put colours here. Put them in colours.css. *
\****************************************************/
body {
    overflow: auto;
}

    body > div {
        box-sizing: border-box;
    }

.dialog {
    position: absolute;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.hide {
    display: none !important;
}

.dialog > div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.signedIn-container {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

    .signedIn-container > .win-splitviewpanetoggle {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        position: relative;
        z-index: 2000;
    }

.signedIn-splitview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

    .signedIn-splitview .win-splitview-pane {
        display: -ms-grid;
        -ms-grid-rows: 48px 1fr;
        -ms-grid-columns: 1fr;
    }

        .signedIn-splitview .win-splitview-pane > div {
            -ms-grid-row: 2;
            -ms-grid-column: 1;
        }

.signedIn-content-root {
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 300px;
    -ms-grid-rows: 100px 1fr;
}

.signedIn-commands {
    padding: 10px 5px 10px 48px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
    -ms-grid-column-span: 2;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow-y: auto;
}

    .signedIn-commands > button {
        margin-left: 5px;
        margin-right: 5px;
    }

.signedIn-messages {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -ms-user-select: text;
}

.signedIn-content {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.signedIn-articleList {
    height: 100%;
    width: 100%;
}

.signedOut-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.win-listview .win-gridlayout .win-container {
    margin: 12px;
}

.win-listview > .win-viewport.win-vertical .win-surface {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: -ms-grid;
    -ms-grid-rows: 58px 1fr auto;
    -ms-grid-columns: 1fr;
    width: 248px;
    height: 248px;
}

.article-title {
    -ms-grid-row: 1;
    padding-right: 8px;
    overflow: hidden;
}

.article-title-text {
    position: relative;
    display: inline;
    font-size: 18px;
    padding-top: 4px;
    left: 8px;
    top: -1px; /* Make it feel like it's got more bottom spaceing */
    line-height: 30px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-shadow: 8px 0px 0px red, -8px 0px 0px red; /* Set fo' realz by .setShadow*/
}

.article-summary {
    -ms-grid-row: 2;
    overflow: hidden;
    font-size: 14px;
    margin: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.article-footer {
    -ms-grid-row: 3;
    -ms-grid-column-align: end;
    overflow: hidden;
    text-align: right;
    margin: 8px;
    width: calc(100% - 16px);
}

    .article-footer > span {
        position: relative;
        display: inline;
        font-size: 12px;
    }

.authenticator {
    display: -ms-grid;
    /* 1    2    3    4    5    6    7    8    9    10   11   12   13 */
    -ms-grid-rows: 20px auto 10px auto auto 10px auto 10px auto 10px auto 20px auto;
    -ms-grid-columns: 300px;
}

    .authenticator > .subscriptionInformationContainer {
        -ms-grid-row: 2;
    }

    .authenticator > .errorMessageContainer.hide {
        display: none;
    }

    .authenticator > .errorMessageContainer {
        -ms-grid-row: 4;
        display: -ms-grid;
        -ms-grid-rows: auto 10px;
    }

    .authenticator > .usernameLabel {
        -ms-grid-row: 5;
    }

    .authenticator > .usernameInput {
        -ms-grid-row: 7;
        width: 100%;
    }

    .authenticator > .passwordLabel {
        -ms-grid-row: 9;
    }

    .authenticator > .passwordInput {
        -ms-grid-row: 11;
        width: 100%;
    }

    .authenticator > .buttonsContainer {
        -ms-grid-row: 13;
        display: -ms-flexbox;
        -ms-flex-wrap: nowrap;
        -ms-flex-direction: row;
        -ms-flex-pack: distribute;
    }

    .authenticator > .workingContainer {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 13;
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
    }

        .authenticator > .workingContainer > progress {
            -ms-grid-column-align: center;
            -ms-grid-row-align: center;
        }
