/****************************************************\
 * Don't put colours here. Put them in colours.css. *
\****************************************************/
body {
    overflow: auto;
}

    body > div {
        box-sizing: border-box;
    }

.dialog {
    position: absolute;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.hide {
    display: none !important;
}

.dialog > div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.signedIn-container {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

    .signedIn-container > .win-splitviewpanetoggle {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        position: relative;
        z-index: 2000;
    }

.signedIn-splitview {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

    .signedIn-splitview .win-splitview-pane {
        display: -ms-grid;
        -ms-grid-rows: 48px 1fr 12px auto;
        -ms-grid-columns: 1fr;
    }

.pane-folderlist {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    overflow-y: auto;
}

.pane-section-splitter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    margin-left: 12px;
    margin-right: 12px;
    height: 1px;
    border-top: 1px solid;
}

.pane-commands {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}

.win-splitviewcommand-icon {
    margin-top: 16px;
}

.signedIn-content-root {
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 48px 1fr;
}

.signedIn-header {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 48px 12px auto 1fr;
    height: 100%;
    width: 100%;
}

.header-folderName {
    -ms-grid-column: 3;
    -ms-grid-row-align: center;
    font-size: 18px;
}

.header-commands {
    -ms-grid-column: 4;
    -ms-grid-row-align: center;
    -ms-grid-column-align: end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 6px;
}

    .header-commands > div {
        margin-left: 6px;
        margin-right: 6px;
    }

.commands-sort {
    border-color: transparent;
    border-width: 1px;
    color: white;
    margin: 0px;
    margin-top: 2px;
    background-color: transparent;
    height: 44px;
}

    .commands-sort:hover {
        border-color: white;
        background-color: transparent;
    }

    .commands-sort::-ms-value {
        background-color: transparent;
    }

    .commands-sort::-ms-expand {
        color: white;
    }

button.commands-selectmode .win-commandicon {
    margin-right: 12px;
    margin-left: 12px;
}

button.commands-selectmode .win-commandimage {
    font-size: 16px;
}

.signedIn-content {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.signedIn-selectioncommands-container {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-align: end;
    width: 100%;
}

.signedIn-articleList {
    height: 100%;
    width: 100%;
}

.signedOut-container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.win-listview .win-gridlayout .win-container {
    margin: 6px;
}

.win-listview > .win-viewport.win-vertical .win-surface {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.win-selectionmode .win-itemcontainer.win-container .win-itembox::after,
.win-selectionmode.win-itemcontainer.win-container .win-itembox::after,
.win-listview .win-surface.win-selectionmode .win-itembox::after,
.win-selectioncheckmark,
.win-selectioncheckmarkbackground {
  right: 8px;
  top: 8px;
}

.article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: -ms-grid;
    -ms-grid-rows: 58px 1fr auto;
    -ms-grid-columns: 1fr;
    width: 248px;
    height: 248px;
}

.article-title {
    -ms-grid-row: 1;
    padding-right: 8px;
    overflow: hidden;
}

.article-title-text {
    position: relative;
    display: inline;
    font-size: 18px;
    padding-top: 3px;
    left: 8px;
    top: -1px; /* Make it feel like it's got more bottom spaceing */
    line-height: 30px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-shadow: 8px 0px 0px red, -8px 0px 0px red;
}

.article-summary {
    -ms-grid-row: 2;
    overflow: hidden;
    font-size: 14px;
    margin: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.article-image {
    -ms-grid-row: 1;
    overflow: hidden;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.article-progress {
    -ms-grid-row: 3;
    -ms-grid-row-align: end;
    height: 2px;
    width: 100%;
    position: relative;
}

.article-footer {
    -ms-grid-row: 3;
    -ms-grid-column-align: end;
    overflow: hidden;
    text-align: right;
    margin: 8px;
    width: calc(100% - 16px);
    max-height: 42px;
}

    .article-footer > span {
        position: relative;
        display: inline;
        font-size: 12px;
    }

.article.with-image > .article-footer {
    padding-right: 8px;
    margin: 0px;
    margin-left: 8px;
    max-height: inherit;
}

    .article.with-image > .article-footer > span {
        padding-right: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
        box-shadow: -8px 0px 0px black, 8px 0px 0px black;
        line-height: 28px;
    }

.syncProgress-root {
    display: -ms-grid;
    -ms-grid-rows: 36px;
    -ms-grid-columns: 12px auto 8px 1fr 8px;
    padding-top: 8px;
}

    .syncProgress-root .syncProgress-progress,
    .syncProgress-root .syncProgress-checkmark {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        width: 24px;
        height: 24px;
    }

    .syncProgress-root .syncProgress-checkmark {
        font-family: "Segoe MDL2 Assets", "Symbols";
        font-size: 20px;
    }

        .syncProgress-root .syncProgress-checkmark::after {
            content: "\E008";
            line-height: 1.33em;
            font-weight: 400;
        }

    .syncProgress-root .syncProgress-message {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        -ms-grid-row-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.articleViewer-container.dialog {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: block;
}

.authenticator {
    display: -ms-grid;
    /* 1    2    3    4    5    6    7    8    9    10   11   12   13 */
    -ms-grid-rows: 20px auto 10px auto auto 10px auto 10px auto 10px auto 20px auto;
    -ms-grid-columns: 300px;
}

    .authenticator > .subscriptionInformationContainer {
        -ms-grid-row: 2;
    }

    .authenticator > .errorMessageContainer.hide {
        display: none;
    }

    .authenticator > .errorMessageContainer {
        -ms-grid-row: 4;
        display: -ms-grid;
        -ms-grid-rows: auto 10px;
    }

    .authenticator > .usernameLabel {
        -ms-grid-row: 5;
    }

    .authenticator > .usernameInput {
        -ms-grid-row: 7;
        width: 100%;
    }

    .authenticator > .passwordLabel {
        -ms-grid-row: 9;
    }

    .authenticator > .passwordInput {
        -ms-grid-row: 11;
        width: 100%;
    }

    .authenticator > .buttonsContainer {
        -ms-grid-row: 13;
        display: -ms-flexbox;
        -ms-flex-wrap: nowrap;
        -ms-flex-direction: row;
        -ms-flex-pack: distribute;
    }

    .authenticator > .workingContainer {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 13;
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
    }

        .authenticator > .workingContainer > progress {
            -ms-grid-column-align: center;
            -ms-grid-row-align: center;
        }

.codevoid-logviewer {
    position: absolute;
    width: 300px;
    height: calc(100vh - 50px);
    top: 25px;
    right: 25px;
    bottom: 25px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 48px 1fr 48px;
}

    .codevoid-logviewer > .codevoid-logviewer-messages {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        overflow: auto;
        padding: 0px 17px 0px 6px;
        -ms-user-select: text;
    }

.codevoid-logviewer-dismiss {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-align: end;
    font-family: "Segoe MDL2 Assets", "Symbols";
    font-size: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-right: -6px;
}

    .codevoid-logviewer-dismiss::after {
        content: "\E711";
        line-height: 1.33em;
        font-weight: 400;
    }

.codevoid-logviewer-clearlog {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    margin-left: 12px;
    -ms-grid-row-align: center;
}

    .codevoid-logviewer-clearlog:hover {
        color: yellow;
    }


.shareSignedIn-container {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    padding: 12px;
}

.shareSignedIn-details {
    -ms-grid-column-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    .shareSignedIn-details > div {
        width: 100%;
        box-sizing: border-box;
    }


.share-article-label {
    font-size: 20px;
    padding: 8px;
}

.share-article-title {
    overflow: hidden;
    padding-right: 8px;
}

.share-article-title-text {
    position: relative;
    display: inline;
    font-size: 30px;
    padding-top: 4px;
    left: 8px;
    top: -1px; /* Make it feel like it's got more bottom spaceing */
    line-height: 48px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    box-shadow: 8px 0px 0px red, -8px 0px 0px red;
}

.share-article-url {
    word-wrap: break-word;
    font-size: 24px;
    padding: 8px;
    padding-top: 0px;
}

.share-sendtoinstapaper-button {
    padding-left: 24px;
    padding-right: 24px;
}

.share-article-info {
    padding: 8px;
    padding-bottom: 0px;
}

.share-progress {
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.share-success {
    font-size: 24px;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.dbFiddler-container {
    position: absolute;
    background-color: red;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 12px 6px 12px 6px;
}

.dbFiddler-buttons > button {
    margin: 0px 6px 0px 6px;
}
