html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 144px;
    font-family: Cambria;
    line-height: 1.6em;
    font-size: 20px;
    -ms-content-zooming: none;
}

    body > *:not(.articleViewer-manages-own-width),
    .articleViewer-contained {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        max-width: 1400px;
    }

/* Reset the figure element so it doesn't have
   it's default margin, and lets images go
   full bleed.
*/
figure {
    margin: 0;
}

/* Center the image horizontally */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ensure that pre-elements get their
   own scrolling region, rather than
   cause the whole page to have a horizontal
   scroller.
*/
pre {
    overflow-x: auto;
    padding-bottom: 16px;
    white-space: pre-wrap;
}

p {
    word-break: break-word;
}

blockquote {
    font-style: oblique;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: grey;
    margin-left: 0px;
    padding-left: 38px;
}

/* App UI */

.articleViewer-header-container {
    position: relative;
    font-family: 'Segoe UI';
    width: 100%;
    padding-top: 10px;
    padding-bottom: 6px;
    line-height: 1.6;
    top: 0px;
    left: 0px;
    right: 0px;
}

.articleViewer-header-container-sticky {
    position: sticky;
}

.articleViewer-title {
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    margin-right: 336px;
}

.articleViewer-subTitle {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

.articleViewer-header-animate {
    transition-property: transform;
    transition-duration: 367ms;
    transition-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
}

.articleViewer-toolbar-underlay {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 48px; /* Same size as the toolbar */
    width: 100%;
    /* Move up the underlay so the content 
       doesn't move when this element is created */
    margin-bottom: -48px;
    transform: translateY(-48px);
}

@media all and (max-width: 640px) {
    /* When the app is small, toolbar moves to the
       bottom, so rather than being sticky, lets make
       it fixed at the bottom. */
    .articleViewer-toolbar-underlay {
        transform: translateY(48px);
        position: fixed;
        bottom: 0px;
        top: unset;
        margin-bottom: unset;
    }

    .articleViewer-header-container {
        transition-property: none;
    }
    /* Make sure when the toolbar is at the bottom
       we give it the appropriate space & position */
    .articleViewer-title {
        margin-right: auto;
    }

    .articleViewer-header-container-sticky {
                position: relative;
    }
}

a:active,
a:visited {
    text-decoration: none;
}

body div.video_frame {
    width: 100%;
    height: 50vh;
}

    body div.video_frame > iframe {
        width: 100%;
        height: 50vh;
    }

/* Colors */
.theme-day {
    background-color: white;
}

.theme-day .articleViewer-toolbar-underlay,
.theme-day .articleViewer-header-container {
    background-color: #F9F9F9;
}

.theme-day,
.theme-day .articleViewer-toolbar-underlay,
.theme-day .articleViewer-header-container {
    color: black;
}

    .theme-day .articleViewer-subTitle {
        color: grey;
    }

    .theme-day a {
        color: blue;
    }

        .theme-day a:active {
            color: lightblue;
        }

        .theme-day a:visited {
            color: darkblue;
        }

        .theme-day a:hover {
            color: navy;
        }

.theme-paper {
    background-color: wheat;
}

.theme-paper .articleViewer-toolbar-underlay,
.theme-paper .articleViewer-header-container {
    background-color: #E8D2A8;
}

.theme-paper,
.theme-paper .articleViewer-toolbar-underlay,
.theme-paper .articleViewer-header-container {
    color: black;
}

    .theme-paper .articleViewer-subTitle {
        color: grey;
    }

    .theme-paper a {
        color: blue;
    }

        .theme-paper a:active {
            color: lightblue;
        }

        .theme-paper a:visited {
            color: darkblue;
        }

        .theme-paper a:hover {
            color: navy;
        }

.theme-dusk {
    background-color: darkslategrey;
}

.theme-dusk .articleViewer-toolbar-underlay,
.theme-dusk .articleViewer-header-container {
    background-color: #284343;
}

.theme-dusk,
.theme-dusk .articleViewer-toolbar-underlay,
.theme-dusk .articleViewer-header-container {
    color: lightgrey;
}

    .theme-dusk .articleViewer-subTitle {
        color: grey;
    }

    .theme-dusk a {
        color: grey;
    }

        .theme-dusk a:active,
        .theme-dusk a:visited {
            color: lightgrey;
        }

        .theme-night a:hover {
            color: white;
        }

.theme-night {
    background-color: black;
}

.theme-night .articleViewer-toolbar-underlay,
.theme-night .articleViewer-header-container {
    background-color: #202020;
}

.theme-night,
.theme-night .articleViewer-toolbar-underlay,
.theme-night .articleViewer-header-container {
    color: darkgrey;
}

    .theme-night .articleViewer-subTitle {
        color: grey;
    }

    .theme-night a {
        color: grey;
    }

        .theme-night a:active,
        .theme-night a:visited {
            color: lightgrey;
        }

        .theme-night a:hover {
            color: white;
        }
