html {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    margin-bottom: 144px;
    font-family: Cambria;
    line-height: 32px;
    font-size: 20px;
}

/* Center the image horizontally */
img {
    max-width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Ensure that pre-elements get their
   own scrolling region, rather than
   cause the whole page to have a horizontal
   scroller.
*/
pre {
    overflow-x: auto;
}