html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 144px;
    font-family: Cambria;
    line-height: 1.6em;
    font-size: 20px;
    -ms-content-zooming: none;
    max-width: 1400px;
    width: 80vw;
}

/* Center the image horizontally */
img {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ensure that pre-elements get their
   own scrolling region, rather than
   cause the whole page to have a horizontal
   scroller.
*/
pre {
    overflow-x: auto;
}

p {
    word-break: break-word;
}

/* App UI */

.articleViewer-header-container {
    width: 100%;
    display: -ms-grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr;
    font-family: Cambria;
    margin-top: 48px;
}

.articleViewer-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-align: start;
    -ms-grid-row-align: center;
    width: 100%;
    overflow: hidden;
    font-weight: bolder;
}

.articleViewer-subTitle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-align: start;
    -ms-grid-row-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
    color: grey;
    text-decoration: none;
}

a:active,
a:visited {
    text-decoration: none;
}

/* Colors */
.theme-day {
    background-color: white;
    color: black;
}

    .theme-day .articleViewer-subTitle {
        color: grey;
    }

    .theme-day a {
        color: blue;
    }

        .theme-day a:active {
            color: lightblue;
        }

        .theme-day a:visited {
            color: darkblue;
        }

        .theme-day a:hover {
            color: navy;
        }

.theme-paper {
    background-color: wheat;
    color: black;
}

    .theme-paper .articleViewer-subTitle {
        color: grey;
    }

    .theme-paper a {
        color: blue;
    }

        .theme-paper a:active {
            color: lightblue;
        }

        .theme-paper a:visited {
            color: darkblue;
        }

        .theme-paper a:hover {
            color: navy;
        }


.theme-dusk {
    background-color: darkslategrey;
    color: lightgrey;
}

    .theme-dusk .articleViewer-subTitle {
        color: grey;
    }

    .theme-dusk a {
        color: grey;
    }

        .theme-dusk a:active,
        .theme-dusk a:visited {
            color: lightgrey;
        }

        .theme-night a:hover {
            color: white;
        }

.theme-night {
    background-color: black;
    color: darkgrey;
}

    .theme-night .articleViewer-subTitle {
        color: grey;
    }

    .theme-night a {
        color: grey;
    }

        .theme-night a:active,
        .theme-night a:visited {
            color: lightgrey;
        }

        .theme-night a:hover {
            color: white;
        }
