<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <!-- Store ID
    Identity Name="23345Codevoid.Storyvoid" Version="1.2.3.0" Publisher="CN=F3EEBC4B-772E-47AD-8643-5B81F8231009" /
  -->
  <Identity Name="Codevoid.Storyvoid" Version="1.2.3.0" Publisher="CN=Codevoid" />
  <mp:PhoneIdentity PhoneProductId="df3f2451-f088-456f-a7bf-d8842de4a983" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Storyvoid</DisplayName>
    <PublisherDisplayName>Codevoid</PublisherDisplayName>
    <Logo>images\Storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <uap:VisualElements DisplayName="Storyvoid" Description="Storyvoid: An Instapaper client for Windows 10" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\Square310x310Logo.png" Square71x71Logo="images\Square71x71Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget" StartPage="shareTarget.html">
          <uap:ShareTarget Description="Add links to your Instapaper account with Storyvoid">
            <uap:DataFormat>URI</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="storyvoid">
            <uap:DisplayName>Storyvoid</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>