html, body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Segoe UI',-apple-system,BlinkMacSystemFont,'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.storyvoid-limit-width {
    /* Limit width while keeping centered */
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.storyvoid-title-container {
    /* Keep top/bottom of contained content
       from being flush with the edges */
    padding-top: 48px;
    padding-bottom: 12px;

    position: relative;
}

.storyvoid-title {
    display: inline;
    font-size: 56px;
    line-height: 76px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

/* Helper to provide a back plate 
   behind specific text. Intended
   to be used with spans */
.storyvoid-text-backplate {
    position: relative;
    display: inline;
    font-weight: bolder;
    padding-top: -4px;
    left: 4px;
    top: -1px; /* Make it feel like it's got more bottom spacing */
    border-bottom-width: 4px;
    border-bottom-style: solid;
    background-color: red;
    border-bottom-color: red;
    color: white;
    box-shadow: 14px 0px 0px red, -14px 0px 0px red; /* magic side expansion */
}

/* Lighten the text */
.storyvoid-brand-void {
    font-weight: 100;
}

/* smalle title below big bold title */
.storyvoid-subtitle {
    top: -6px;
    font-size: 22px;
    font-weight: 550;
    padding-bottom: 4px;
    line-height: 32px;
}

.storyvoid-landing-call-to-action {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 105px;
    color: white;
    font-style: oblique;
    font-weight: 100;
    font-size: 24px;
    opacity: 0.9;
}

.storyvoid-content-heading-wrapper {
    margin-top: 12px;
    margin-bottom: 8px;
     /* pull text left so characters line up
        along the left edge */
    margin-left: -12px;
}

/* similar, but different backplate effect on headings */
.storyvoid-content-heading {
    font-weight: normal;
    color: white;
    padding: 8px 12px 9px 12px;
    display: inline;
    line-height: 1.8em;
    background-color: darkslategrey;
}

.storyvoid-title-body,
.storyvoid-content-body {
    font-weight: 100;
}

.storyvoid-content-body {
    margin-top: 16px;
    margin-bottom: 20px;
}

.storyvoid-privacy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    margin-left: -8px;
}

.storyvoid-privacy-table-header {
    background-color: lightgray;
}

.storyvoid-landing-title-backdrop {
    margin: 0px;
    background-color: #BC0000;
}

.storyvoid-menu-backdrop {
    background-color: red;

    color: white;
}

.storyvoid-menu {
    height: 48px;
    margin-bottom: 56px;
}

.storyvoid-menu-item {
    font-weight: 100;
    transform: translateX(-14px);
    vertical-align: center;
    line-height: 48px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0px;
}

.storyvoid-menu-item:hover {
    background-color: orangered;
}

th {
    padding: 8px;
    text-align: left;
    padding-left: 12px;
}

td {
    padding: 8px;
    vertical-align: top;
}

tr td {
    font-weight: lighter;
}

thead > tr {
    border-bottom: none;
}

tr {
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul {
    margin-top: -8px;
    margin-bottom: -4px;
}

li {
    line-height: 1.8em;
    list-style-type: none;
    margin-left: -40px;
}

li:before {
    content: "-";
    padding-right: 8px;
}