html, body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.storyvoid-title-container {
    margin-top:12px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.storyvoid-title {
    display: inline;
    background-color: red;
    font-size: 56px;
    font-weight: bold;
    color: white;
    padding: 0px 18px 8px 18px;
    margin-left: -22px;
}

.storyvoid-content-container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.storyvoid-content-heading-wrapper {
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: -12px;
}

.storyvoid-content-heading {
    font-weight: normal;
    color: white;
    padding: 8px 12px 9px 12px;
    display: inline;
    line-height: 1.8em;
    background-color: darkslategrey;
}

.storyvoid-title-body,
.storyvoid-content-body {
    font-weight: lighter;
}

.storyvoid-content-body {
    margin-top: 16px;
    margin-bottom: 20px;
}

.storyvoid-privacy-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    margin-left: -8px;
}

.storyvoid-privacy-table-header {
    background-color: lightgray;
}

th {
    padding: 8px;
    text-align: left;
    padding-left: 12px;
}

td {
    padding: 8px;
    vertical-align: top;
}

tr td {
    font-weight: lighter;
}

thead > tr {
    border-bottom: none;
}

tr {
    border-bottom-color: darkgrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul {
    margin-top: -8px;
    margin-bottom: -4px;
}

li {
    line-height: 1.8em;
    list-style-type: none;
    margin-left: -40px;
}

li:before {
    content: "-";
    padding-right: 8px;
}